.pull-right {
  margin-right: 30px; }

.btn btn-outline-primary {
  margin-right: 30px; }

.navbar-brand {
  padding-left: 20px; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, ' sans-serif';
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden; }

.video-header {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff; }

.wrap {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center; }

.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden; }

.fullscreen-video-wrap video {
  min-height: 100%;
  min-width: 100%; }

.header-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(34, 33, 33, 0.65);
  opacity: 0.8; }

.header-content {
  z-index: 2;
  margin-top: 20%;
  padding: 0 5rem; }

.header-content h1 {
  font-size: 50px;
  margin-bottom: 0; }

.header-content p {
  font-size: 1.5rem;
  display: block;
  padding-bottom: 2rem;
  margin-top: 10px; }

.my-btn {
  padding: 1rem 1rem; }

@media (max-width: 768px) {
  .header-content h1 {
    font-size: 40px; }
  .header-content p {
    font-size: 1rem; } }

section {
  text-align: center;
  margin-top: 50px;
  font-size: 1.5rem; }

.navbar {
  z-index: 10; }

.my-nav .nav-link {
  color: aliceblue; }

.my-nav .navbar-brand {
  color: aliceblue; }

.navbar-toggler-icon {
  color: aliceblue; }

.forgot {
  margin-left: 24px; }

.title-signin {
  margin-left: 32px; }

.theme-login {
  width: 105%;
  height: 100%; }

.layout1-login {
  width: 102.4%;
  margin-left: 18px;
  z-index: 2;
  position: absolute;
  opacity: 0.8;
  box-sizing: border-box; }

.layout2-login {
  z-index: 1;
  position: absolute;
  object-fit: cover;
  width: 70%;
  margin: 0 0 0 55.5vh; }

.theme {
  width: 100%;
  height: 100%; }

.layout1 {
  margin-left: 50px;
  z-index: 2;
  position: absolute;
  opacity: 0.8;
  box-sizing: border-box; }

.layout2 {
  z-index: 1;
  position: absolute;
  object-fit: cover;
  width: 73.5%;
  margin: 0 0 0 55.5vh; }

.err-mess {
  color: #da0505;
  background: white;
  padding: 0 25px 0 0px;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px; }

.theme-user {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.row {
  width: 90%; }

.admin-box {
  width: 100%;
  height: auto;
  border: 1px solid;
  border-radius: 50px; }

.inputt:hover {
  cursor: pointer; }

.inputt:focus {
  cursor: auto; }

.inputt::-webkit-input-placeholder {
  font-weight: bold; }

textarea:focus,
input:focus {
  outline: none; }

.bl {
  display: flex;
  align-items: center;
  justify-content: center; }

.action div a,
.action div button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: solid 1px #32cdd7;
  background: #69d1d8;
  color: black;
  border-radius: 20px;
  text-decoration: none; }

.action div {
  width: 55%;
  padding: 10px 22px; }

.admin-image {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%; }

.admin-container {
  height: 100vh; }

.delete-form {
  padding: 5vh 8vw; }

.gridview {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 35vw 65vw;
  grid-template-rows: 11vh 89vh; }

.backgr-admin-page {
  grid-row: 1/3; }

.header-admin {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  border-top: 6px solid #a8ced3;
  border-right: 7px solid #a8ced3;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px; }

.header-admin ul {
  margin-right: 8vw; }

.add-form {
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  top: 11vh;
  right: 0;
  width: 61.5vw;
  height: 80vh;
  padding: 0 7.5vw 0 26vw;
  border-top: 4px solid #8fd4dd;
  margin: 5vh 2.5vw 7vh 3vw;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 11% 89%;
  overflow-x: hidden;
  overflow-y: auto; }

.add-form::-webkit-scrollbar {
  width: 6px;
  background-color: #3eb5c5; }

.add-form::-webkit-scrollbar-thumb {
  border: 1px solid #8fd4dd;
  background-color: #477c7c; }

.add-form::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5; }

.scrollbar {
  background-color: #70c4c7;
  float: left;
  height: 300px;
  margin-bottom: 25px;
  margin-left: 22px;
  margin-top: 40px;
  width: 65px;
  overflow-y: scroll; }

.force-overflow {
  min-height: 450px; }

.workspace {
  width: 100%;
  height: 100%; }

#form-links input {
  background-color: #dfdfdf;
  border-radius: 50px;
  border: none;
  padding: 10px;
  margin: 10px 20px;
  width: 90%; }

#form-links {
  padding: 10px 0 8px 0; }

#form-links img {
  margin-left: 10px; }

.class-logo {
  width: 110px;
  border: 1px solid black;
  border-radius: 40px;
  margin-right: 4.5vw; }

.class-logo a {
  padding: 0;
  margin: 0; }

.admin-line {
  width: 80%;
  margin: auto;
  height: 3px;
  background: #8b8b8b; }

.admin-line:last-of-type {
  background: none; }

/*=======================================================*/
.fundo {
  animation: scales 3s alternate infinite;
  transform-origin: center; }

.pao-baixo {
  animation: rotatepao 14s cubic-bezier(0.1, 0.49, 0.41, 0.97) infinite;
  transform-origin: center; }

.pao-cima {
  animation: rotatepao 7s 1s cubic-bezier(0.1, 0.49, 0.41, 0.97) infinite;
  transform-origin: center; }

.olhos {
  animation: olhos 2s alternate infinite;
  transform-origin: center; }

.left-sparks {
  animation: left-sparks 4s alternate infinite;
  transform-origin: 150px 156px; }

.right-sparks {
  animation: left-sparks 4s alternate infinite;
  transform-origin: 310px 150px; }

.olhos {
  animation: olhos 2s alternate infinite;
  transform-origin: center; }

@keyframes scales {
  from {
    transform: scale(0.98); }
  to {
    transform: scale(1); } }

@keyframes rotatepao {
  0% {
    transform: rotate(0deg); }
  50%,
  60% {
    transform: rotate(-20deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes olhos {
  0% {
    transform: rotateX(0deg); }
  100% {
    transform: rotateX(30deg); } }

@keyframes left-sparks {
  0% {
    opacity: 0; } }

.main {
  min-height: 400px;
  margin: 0px auto;
  width: auto;
  max-width: 460px;
  display: flex;
  align-items: center;
  justify-content: center; }

.path {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: dash 4s alternate infinite; }

@keyframes dash {
  0%,
  30% {
    fill: 4b4b62;
    stroke-dashoffset: 0; }
  80%,
  100% {
    fill: transparent;
    stroke-dashoffset: -200; } }

/*                           link info                    */
.foot-user-info {
  margin-top: 30px;
  text-decoration: none;
  position: absolute;
  z-index: 2;
  padding-top: 15vh; }

.theme-link {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1; }

.form-link {
  position: relative;
  z-index: 2;
  margin-left: auto;
  margin-right: auto; }

.form-link img {
  border-radius: 50px;
  border: 4px double #fff; }

.btn-ljnk {
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #3c8f56;
  height: 60px;
  color: #fff;
  font-weight: bold;
  font-size: 18px; }

.btn-ljnk:hover {
  background-color: #fff;
  color: #cf285a;
  border: solid 2px red; }

.foot-user {
  margin-top: 30px;
  text-decoration: none; }

.foot-user:hover {
  cursor: pointer; }

.user-name {
  color: #fff; }
