   {{> header}}  
<div class="layout1-login pt-5 pb-5">
    <div class="col-sm-3">
       
    </div>
    <div class="col-sm-5" style="margin: 0vh 0 0 8.5vw !important;">
       
        <div class="" style="margin-top: 23px !important;">
             <h2 class="title-signin">Sign In </h2>
            <div class="container box" style="margin-top: 24px !important;">
                <form method="post" action="login/check" class="px-4 py-3 needs-validation" novalidate>
                    <div class="mb-3 form-group">
                        <label for="email" class="form-label"><small>Email</small></label>
                        <input type="email" class="form-control" id="email" name="email" 
                        data-error-msg="The email is required in valid format!" placeholder="email@example.com" required>
                        <div class="invalid-feedback">
                            Please enter your correct email address!
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-label"><small>Password</small></label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                        <div class="valid-feedback">
                            Correct!
                        </div>
                        <div class="invalid-feedback">
                            Incorrect password!
                        </div>
                    </div>
                    <div class="pt-1" style="width:auto; height:36px; box-sizing: border-box;">
                        {{#if err}}
                            <img style="max-width:20px; max-height:20px;" src="/image/warning.svg" alt="">
                            <span class="err-mess">{{err}}</span>
                        {{/if}}
                    </div>
                    <div class="">
                        <button type="submit" class="btn btn-success">Sign in</button>
                    </div>
                    
                </form>
                <div class="forgot">
                    <span><small>Don't have an account? </small></span><a class="" href="/register"><small>Create one</small></a> <br>
                    <a class="" href="#"><small>Forgot password?</small></a>
                </div>
            </div>
        </div>
    </div>  
    <div class="col-sm-3">
       
    </div>
</div>
<div class="layout2-login col-sm-3">
    <img class="theme-login" src="./image/theme.png" alt="">
</div>
<script>
(function () {
  'use strict'

  var forms = document.querySelectorAll('.needs-validation')

  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
