   {{> header}}  
<div class="layout1 pt-5 pb-5">
    <div class="col-sm-5" style="margin: 3vh 0 0 8.5vw !important;">
        <h2>Create an account for free</h2>
        <form method="post" action="/register/stored" class="mt-4 row g-3 needs-validation" novalidate>
            
            
            <div class="row mt-3">
                <div class='col-sm-12 form-group'>
                    <label for="email" class="form-label"><small>Email</small></label>
                    <input id="email" name="email" class="form-control" type="email"  required 
                    placeholder="Email" data-error-msg="The email is required in valid format!">
                    <div class="invalid-feedback">
                        Please enter your email.
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-sm-12 form-group">
                    <label for="userName" class="form-label"><small>User name</small></label>
                    <input type="text" class="form-control" id="userName" name="userName"
                        placeholder="username"  required>
                    <div class="valid-feedback">
                        Correct!
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-sm-12  form-group">
                    <label for="password" class="form-label"><small>Password</small></label>
                    <input type="password" class="form-control" id="password" name="password"
                        placeholder="Password" required>
                    <div class="valid-feedback">
                        Correct!
                    </div>
                    <div class="invalid-feedback">
                        Incorrect!
                    </div>
                </div>
            </div>
            {{#if err}}
                <img style="max-width:20px; max-height:20px;" src="/image/warning.svg" alt="">
                <span class="err-mess">{{err}}</span>
            {{/if}}
            <div class="row mt-4">
                <div class="col-12 text-center">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                        <label class="form-check-label" for="invalidCheck">
                            <small >
                                <strong>
                                    By creating an account, you are agreeing to our 
                                    <a href="/about-us">Terms & Conditions</a>
                                    and <a href="/about-us">Privacy Policy</a>
                                </strong>
                            </small>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12 text-center d-grid gap-2 col-6 text-center">
                    <button class="btn btn-info" type="submit">Sign up with email</button>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12 text-center">
                    <a href="/login"><small><strong>Have an account?</strong> </small></a>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="layout2 col-sm-4">
    <img class="theme" src="./image/theme.png" alt="">
</div>

<script>
(function () {
  'use strict'

  var forms = document.querySelectorAll('.needs-validation')

  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
